---
name: go-lib

on:
  pull_request:
  push:
    branches: [main, master, production]

permissions:
  actions: read
  checks: none
  contents: read
  deployments: write
  discussions: none
  id-token: write
  issues: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/production' }}

jobs:
  go-checks:
    uses: remerge/workflows/.github/workflows/go-checks.yml@main
    with:
      lint-target: go-check
      no-lint-gen: true
    secrets:
      ssh_key: ${{ secrets.DEPLOY_USER_SSH_KEY }}
