---
name: pre-commit

on:
  pull_request:
  push:
    branches: [main, master]

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout repository
        # https://github.com/actions/checkout/releases
        uses: actions/checkout@v5.0.0

      - name: Setup SSH agent
        # https://github.com/webfactory/ssh-agent/releases
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: "${{ secrets.DEPLOY_USER_SSH_KEY }}"

      - name: Setup Git
        run: |
          curl -f -sL --retry 5 --retry-delay 1 https://api.github.com/meta | jq -r '"github.com "+.ssh_keys[]' >> ~/.ssh/known_hosts
          git config --global url."git@github.com:".insteadOf "https://github.com/"
          git config --global advice.detachedHead false

      - name: Setup Go
        # https://github.com/actions/setup-go/releases
        uses: actions/setup-go@v6.0.0
        with:
          go-version: "stable"

      - name: Load envrc
        # https://github.com/HatsuneMiku3939/direnv-action/releases
        uses: HatsuneMiku3939/direnv-action@v1.1.0

      - name: Install project dependencies
        run: make install

      - name: Run pre-commit checks
        # https://github.com/pre-commit/action/releases
        uses: pre-commit/action@v3.0.1
